.blue, .blue a {
    color: #2cb4e1;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #265a88;
}

.navbar-header {
    float: right;
}

.jumbotron {
    background-color: #2cb4e1;
}

.caption {
    background-color: #cccccc;
}

.text {
    color: #2cb4e1;
}

ul {
    color: #265a88;
}

footer {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid;
    text-align: center;
    color: #2cb4e1;
}

















